body{
    margin: 0;
    padding: 0;
    font-family:  'Montserrat', sans-serif;
}
img{
    width: 50%;
}
.container{
    width: 100%;
    /* position: relative; */
}
/* NAV starts here by Alina, Gulfiya, Evgeniia */
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 30px;
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    padding-left: 90px;
}
.logo a{
    text-decoration: none;
    color: rgb(228, 189, 15);
    
}
.left-nav{
    margin-right: 40px;
    padding-right:50px;
    font-weight: normal;
}
li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 17px;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: rgb(228, 189, 15);;
}

/* HEADER starts here by Alina, Gulfiya, Evgeniia*/
header{
    background-image: url(https://www.gentlemansgazette.com/wp-content/uploads/2017/10/Pic_1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)) , url(https://www.gentlemansgazette.com/wp-content/uploads/2017/10/Pic_1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    /* position: relative; */
    /* line-height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h3{
    font-size: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    /* font-style: italic; */
    margin-top: 100px;
    margin-bottom: 0;
}
header h1{
    font-size: 70px;
    font-weight: 900px;
    margin-top: 25px;
    margin-bottom: 80px;
}
header button{
    /* background-color: #fed136; */
    background-color: rgb(228, 189, 15);
    color: white;
    cursor: pointer;
    padding: 20px 40px; 
    font-size: 19px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
header button:hover{
    background-color: rgb(209, 173, 14);
}


/* SECTION CONTACT starts here */
#contact{
    background-image: url("https://wallpaperaccess.com/full/545650.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding-top: 20px;   
    position: relative;
}
.btn{
    position: absolute;
    bottom: 80px;
}
.btn input[type="submit"]{
    padding: 25px;
    color: white;
    font-size: 20px;
    background-color: #FED136;
    border-radius: 10px;
    border: none;
}
.btn input[type="submit"]:hover{
    background-color: rgb(241, 241, 59);
    cursor: pointer;
}
form{
    margin-top: 70px;
    display: flex;
    justify-content: center;
} 

.input-left input{
    display: flex;
    padding: 27px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}
.input-left{
    flex-basis: 37%;
}
.input-right{
    flex-basis: 37%;
    margin-left: 75px;
    
}
textarea{
    width: 100%;
    border-radius: 10px;
    padding: 17px;
}
.contact-texts{
    text-align: center;
    font-size: 30px;
}
.contact-texts h1{
    margin-bottom: 0;
}
.contact-texts p{
    margin-top: 10px;
    color: lightgrey;
    font-size: 20px;
}

/* SERVICES STARTS HERE */
.service-boxes{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    grid-gap: 35px;
    text-align: center;
}
.service-boxes p{
    font-size: 10px;
    /* line-height: 1.8; */
    color: grey;
}
.servicetexts{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}
.servicetexts p{
    margin-bottom: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
}
.servicetexts h2{
    font-size: 40px;
}
.srv-box{
    margin-bottom: 100px;
    padding: 25px;
    
}
.srv-box p{
    font-size: 14px;
    line-height: 1.6;
    
}
.srv-box h4{
    font-size: 25px;
}
.icon-wrapper{
 color: white;
    background: #fed136;;
  width: 150px;
  height: 150px;
  border-radius: 50%;
 margin:auto;
}
.icon-wrapper i{
    position: relative;
    top: 30%;
}

/* PORTFOLIO STARTS HERE */
#portfolio{
    text-align: center;
    background-color: rgb(240, 240, 240);
    height: 170vh;
}
#portfolio p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: gray;
}
.portfolio-text{
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 20px;
}
.portfolio-text h1{
    font-size: 50px;
    margin-bottom: 0;
}
.product-grid{
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(3,25%);
    grid-gap: 30px;
}
.products{
    background-color: white;
    padding-bottom: 20px;
}
.products h2{
    margin-bottom: 0;
    font-size: 30px;
}
.products p{
    margin-top: 0;
    font-size: 20px;
}
.icon-product{
    visibility: hidden;
}
.icon-hov:hover i{
    visibility: visible;
    position: relative;
    top: 35%;
    left: 2%;
    color: white;
    font-size: 70px;
}
.image-one{
    height:75%;
    background-image: url("https://images.unsplash.com/photo-1509319117193-57bab727e09d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    /* transition: .3s ease; */
    /* backface-visibility: hidden; */
}
.image-one:hover {
    background-image: linear-gradient(rgba(207, 197, 45, 0.705),rgba(207, 197, 45, 0.705)) , url("https://images.unsplash.com/photo-1509319117193-57bab727e09d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    transition: 10s ease;
}
.image-two{
    height:75%;
    background-image: url("https://images.unsplash.com/photo-1480444423787-9ea7b1509c54?ixid=MnwxMjA3fDB8MHxwaG90[因GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    transition: .3s ease;
    /* backface-visibility: hidden; */
}
.image-two:hover {
    background-image: linear-gradient(rgba(207, 197, 45, 0.705),rgba(207, 197, 45, 0.705)) , url("https://images.unsplash.com/photo-1480444423787-9ea7b1509c54?ixid=MnwxMjA3fDB8MHxwaG90[因GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80");
    /* transition: 10s ease; */
}
.image-three{
    height:75%;
    background-image: url("https://images.unsplash.com/photo-1597213277741-2de4c4b717d1?ixid=MnwxMjA3fDB8MHxwaG90[因GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1537&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    transition: .3s ease;
    /* backface-visibility: hidden; */
}
.image-three:hover {
    background-image: linear-gradient(rgba(207, 197, 45, 0.705),rgba(207, 197, 45, 0.705)) , url("https://images.unsplash.com/photo-1597213277741-2de4c4b717d1?ixid=MnwxMjA3fDB8MHxwaG90[因GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1537&q=80");
    /* transition: 10s ease; */
}
.image-four{
    height:75%;
    background-image: url("https://cdn.thewirecutter.com/wp-content/uploads/2019/04/lapdesks-lowres-3606-630x420.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    transition: .3s ease;
    /* backface-visibility: hidden; */
}
.image-four:hover {
    background-image: linear-gradient(rgba(207, 197, 45, 0.705),rgba(207, 197, 45, 0.705)) , url("https://cdn.thewirecutter.com/wp-content/uploads/2019/04/lapdesks-lowres-3606-630x420.jpg");
    /* transition: 10s ease; */
}
.image-five{
    height:75%;
    background-image: url("https://lp-cms-production.imgix.net/features/2018/10/shutterstock_1048826978-v1-3ae964b49212.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    transition: .3s ease;
    /* backface-visibility: hidden; */
}
.image-five:hover {
    background-image: linear-gradient(rgba(207, 197, 45, 0.705),rgba(207, 197, 45, 0.705)) , url("https://lp-cms-production.imgix.net/features/2018/10/shutterstock_1048826978-v1-3ae964b49212.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850");
    /* transition: 10s ease; */
}
.image-six{
    height:75%;
    background-image: url("https://www.mural-wallpaper.com/wp-content/uploads/2020/11/S-CI48.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    transition: .3s ease;
    /* backface-visibility: hidden; */
}
.image-six:hover {
    background-image: linear-gradient(rgba(207, 197, 45, 0.705),rgba(207, 197, 45, 0.705)) , url("https://www.mural-wallpaper.com/wp-content/uploads/2020/11/S-CI48.jpg");
    /* transition: 10s ease; */
}
